__pycache__/
*/.*
*.csv
*/*.csv
*/__pycache__/
data/extraction/*
data/annotations/*
data/raw_pdfs/*
merge_files/*/*.csv
merge_files/*/*.pdf
merge_files/*/*/*.csv
merge_files/*.csv
ideal_extraction/
src/*/.ipynb_checkpoints/
src/*/*/.ipynb_checkpoints/
.DS_Store
src/*/.DS_Store
src/*/*/.DS_Store
config/*.pkl
